header,
footer {
    background-color: rgb(235, 235, 235);
    border: 1px solid green;
}

footer {
    margin-bottom: 15px;
}

.container-fluid .container header figure img {
    display: flex;
    margin: 0 auto;
    width: 25%;
}

.news img {
    width: 10%;
}

#collapsibleNavbar ul li a {
    text-align: center;
}

main {
    margin: 20px 0;
    background-color: rgb(235, 235, 235);
}

main .news img {
    width: 70%;
    display: flex;
    margin: 0 auto;


}

#basdepage {
    margin: 15px 0 20px 0;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin: 25px 0;
}

h2{
    font-size: 22px;
}

main {
    border: 1px solid green;
}

main .news {
    margin: 20px 0;
}

footer #basdepage .reseaux ul {
    text-align: center;
}

footer #basdepage .reseaux ul li {

    display: inline;
    list-style-type: none;

}

footer #basdepage .reseaux ul {
    padding: 0;
}

footer #basdepage .reseaux ul li img {
    width: 15%;
    /* display: inline; */
    margin-top: 20px;
    justify-content: center;
}

footer .plan,
footer .mentions a {
    text-decoration: none;
    color: black;
}

footer #basdepage .liens a {
    text-decoration: none;
    color: black;
}

main .news .carousel-inner .carousel-caption p a {
    text-decoration: none;
    color: white;
}

.img-attente {
    max-width: 1170px;
    width: 100%;
    margin: 15px 0;
}

.container .titre {
    color: green;
}

#slider {
    width: 70%;

    margin: 0 auto;
}

#slider #wrapper img {
    max-width: 1100px;
    width: 100%;
}

#slider {
    display: flex;
    margin: 15px auto;
    border: 1px solid green;
}

#slider #left-arrow,
#slider #right-arrow {
    color: white;
    background-color: #28a745;
    border: 1px solid green;
}

#cookie-bar #bouton #non a {
    text-decoration: none;
    color: black;
}

.navbar-nav #page {
    color: white;
}

.panel-heading,
.panel-footer {
    color: green;
}

#basdepage aside.liens a {
    color: green;
    font-weight: bold;
}

#basdepage aside.liens a:hover{
    color: rgb(209, 209, 29);
    font-weight: bold;
}

.carousel-control-prev .carousel-control-prev-icon{
    background-color: rgb(95, 94, 94);
    
}

.carousel-control-next .carousel-control-next-icon{
    background-color: rgb(95, 94, 94);
}



@media (max-width: 600px){

    .container-fluid .container header figure img {
        display: flex;
        margin: 0 auto;
        width: 38%;
        padding-top: 20px;
    }

}